@font-face {
    -fx-font-family: 'Press Start 2P';
    src: url('PressStart2P-Regular.ttf');
}

.mainWindow {
    -fx-background-color: rgb(52, 61, 70);
    -fx-font-family: 'Press Start 2P';
}
.activeMainWindow {
    -fx-opacity: .9;
}
.idleMainWindow {
    -fx-opacity: 0;
}


.highscorePanel {
    -fx-font-size: 1.2em;
    -fx-padding: 1em;
    -fx-spacing: .3em;
}

.highscorePanel > *  {
    -fx-alignment: center;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-focus-color:       transparent;
    -fx-background-radius: 0;
    -fx-border-style:      none;
    -fx-background-color:  rgba(0, 0, 0, 0);
    -fx-text-fill:         BBBBBB;
    -fx-font-size:         2.4em;
}
.button:hover {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-color: rgba(52, 61, 70, 0);
}

.startMenu {
    -fx-padding: 1em;
    -fx-spacing: 1em;
    -fx-background-color: rgba(52, 61, 70, .9);
}

.menuButton {
    -fx-background-color: rgb(255, 255, 255);
    -fx-text-fill: rgb(52, 61, 70);
    -fx-pref-height: 7em;
}

.scorePanel {
    -fx-max-height: 5em;
    -fx-padding: .5em 0 0 0;
}

.scoreLabel {
    -fx-font-size: 1em;
    -fx-background-color: white;
    -fx-text-fill: rgb(52, 61, 70);
    -fx-padding: 0.2em 0 0 0;
}

.score {
    -fx-text-fill: white!important;
    -fx-font-size: 2em;
    -fx-padding: 0.4em 0 0 0;
}

.abilityBar {
    -fx-max-height: 4em;
    -fx-spacing: 1em;

}

.abilityBar > * > .label {
    -fx-text-fill: white;
}

.ability {
    -fx-min-width: 100;
}

.gameTitle {
    -fx-padding: 10em 0 0 0;
    -fx-text-fill: white!important;
    -fx-font-size: 4em;
}

.gameOverLabel {
    -fx-text-fill: white!important;
    -fx-font-size: 3em;
}

.gameOverInstructions {
    -fx-text-fill: white!important;
    -fx-font-size: 1em;
}