.mainWindow {
    -fx-background-color: rgb(30, 30, 30);
}
.activeMainWindow {
    -fx-opacity: .9;
}
.idleMainWindow {
    -fx-opacity: 0;
}

.button {
    -fx-focus-color:       transparent;
    -fx-background-radius: 0;
    -fx-border-style:      none;
    -fx-background-color:  rgba(0, 0, 0, 0);
    -fx-text-fill:         BBBBBB;
    -fx-font-size:         2.4em;
}
.button:hover {
   -fx-background-color: rgba(40, 40, 40, 0.7);
}

.startMenu {
    -fx-padding: 1em;
    -fx-spacing: 1em;
    -fx-background-color: rgba(20, 20, 20, 0.9);
}

.menuButton {
    -fx-background-color: rgba(60, 60, 60, 0.5);
    -fx-pref-height: 7em;
}

#scorePanel {
    -fx-font: 32px Tahoma;
    -fx-fill: BBBBBB;
}